@model MatchHistoryViewModel
<thead>
	<tr>
		<th>Game Type</th>
		<th>Standing</th>
		<th>Date</th>
		<th>Score</th>
		<th>Map</th>
	</tr>
</thead>
<tbody>
	@foreach (WarGameHistory game in Model.GameHistoryView.Games)
	{
		<tr>
			<td>
				@if (game.BaseVariantId == 25)
				{
					<a asp-action="Index" asp-controller="Match" 
					   data-toggle="tooltip" data-placement="top" title="Cheaky ;)" 
					   asp-route-gamertag="@Model.ServiceRecord.Gamertag" asp-route-matchModeSlug="@game.Mode.GetDescription().ToSlug()" asp-route-matchId="@game.Id">
						Modded Game Variant
					</a>
				}
				else
				{
					<a asp-action="Index" asp-controller="Match" asp-route-gamertag="@Model.ServiceRecord.Gamertag" asp-route-matchModeSlug="@game.Mode.GetDescription().ToSlug()" asp-route-matchId="@game.Id">
						@game.VariantName
					</a>
				}
			</td>

			<td class="@game.GetGameVictoryStatus().CssFriendlyResult">
				@game.GetGameVictoryStatus().UserFriendlyResult
				@if (game.Completed)
				{
					@:(@game.Standing.Ordinal())
				}
			</td>
			<td>
				@game.EndDateUtc
			</td>
			<td>
				@game.PersonalScore
			</td>
			<td>
				@game.MapVariantName
			</td>
		</tr>
	}
</tbody>
