@model MatchHistoryViewModel
<thead>
	<tr>
		<th>Game Type</th>
		<th>Standing</th>
		<th>Date</th>
		<th>Score</th>
		<th>Map</th>
	</tr>
</thead>
<tbody>
	@foreach (WarGameHistory game in Model.GameHistoryView.Games)
	{
		<tr>
			<td>
				@if (game.BaseVariantId == 25)
				{
					<a href="#" data-toggle="tooltip" data-placement="top" title="Cheaky ;)">Modded Game Variant</a>
				}
				else
				{
					<a href="#">@game.MapVariantName</a>
				}
			</td>

			<td class="@game.GetGameVictoryStatus().CssFriendlyResult">
				@game.GetGameVictoryStatus().UserFriendlyResult
				@if (game.Completed)
				{
					@:(@game.Standing.Ordinal())
				}
			</td>
			<td>
				@game.EndDateUtc
			</td>
			<td>
				@game.PersonalScore
			</td>
			<td>
				@game.MapVariantName
			</td>
		</tr>
	}
</tbody>
