@model MatchHistoryViewModel
<thead>
	<tr>
		<th>Episode</th>
		<th>Chapter</th>
		<th>Standing</th>
		<th>Difficulty</th>
		<th>Type</th>
		<th>Score</th>
		<th>Date</th>
		<th>Game Length</th>
	</tr>
</thead>
<tbody>
	@foreach (SpartanGameHistory game in Model.GameHistoryView.Games)
	{
		<tr>
			<td>
				<a>@game.EpisodeName</a>
			</td>

			<td>
				@game.ChapterName
			</td>
			<td class="@game.GetGameVictoryStatus().CssFriendlyResult">
				@game.GetGameVictoryStatus().UserFriendlyResult
			</td>
			<td>
				@((await MetadataService.GetMetadataAsync()).DifficultiesMetadata.Difficulties.First(d => d.Id == game.Difficulty).Name)
			</td>
			<td>
				@(game.SinglePlayer ? "Single Player" : "Co Op")
			</td>
			<td>
				@game.PersonalScore
			</td>
			<td>
				@game.EndDateUtc
			</td>
			<td>
				@game.Duration.ToString()
			</td>
		</tr>
	}
</tbody>
