@using Branch.Helpers.Extentions
@model ViewModelBase
<header class="halo5-service-record" style="background-image: url('https://content.halocdn.com/media/Default/games/halo-5-guardians/map-images/arena/plaza-f08327b5d1de449f89ec17050ce0cb9f.jpg')">
	<div class="mask">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="row name-flairs">
						<div class="spartan-rank hidden-sm hidden-xs col-md-1">
							@Model.ServiceRecord.SpartanRank
						</div>
						<div class="col-md-10">
							<h1>@Model.ServiceRecord.PlayerId.Gamertag</h1>
							<h2>BAE</h2>
						</div>
						<div class="spartan-rank responsive visible-sm visible-xs col-md-1">
							@Model.ServiceRecord.SpartanRank
						</div>
					</div>

					<div class="row rank-flairs">
						<div class="col-md-10">
							<img class="hidden-xs" height="25" alt="" src=""/>
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
									<span class="progress-bar-indicator">100% (<deliminate-number integer="@Model.ServiceRecord.Xp" /> Xp)</span>
									<span class="sr-only">100% (<deliminate-number integer="@Model.ServiceRecord.Xp" /> Xp)</span>
								</div>
							</div>
							<div class="xp">
								<div class="left lower-bound"><deliminate-number integer="0" /> Xp</div>
								<div class="right upper-bound"><deliminate-number integer="100000" /> Xp</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>

					<div class="row recent-match">
						Recent Matches:
						<br />
						<span id="recent-match-details" class="details">
							<strong class="win">Victory</strong> playing <strong>Slayer</strong> on <strong>Eden</strong>,<br />
							with <strong>12</strong> Kills <br />
							&raquo; on swagtime
						</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="spartan-insignia hidden-sm hidden-xs" style="background-image: url('@Model.ServiceRecord.PlayerId.Emblem')"></div>
					<div class="spartan-image hidden-sm hidden-xs" style="background-image: url('@Model.ServiceRecord.PlayerId.SpartanModel')"></div>
				</div>
			</div>
		</div>
	</div>
</header>
