@using Branch.Web.Areas.Halo4.ViewModels
@using Branch.Helpers.Extentions
@model ViewModelBase
@{
	string recentGameMapImage = "";
	if (Model.GameHistory?.Games.Any() == true)
	{
		recentGameMapImage = await MetadataService.ResolveAssetContainerAsync((Model.GameHistory.Games.First() as WarGameHistory).MapImageUrl);
	}
}
<header class="halo4-service-record" style="background-image: url(@recentGameMapImage)">
	<div class="mask">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="row name-flairs">
						<div class="spartan-csr hidden-sm hidden-xs col-md-1">
							<csr-asset skill-rank="@Model.ServiceRecord.TopSkillRank" gamertag="@Model.ServiceRecord.Gamertag" height="72" />
						</div>
						<div class="col-md-10">
							<h1>
								@Model.ServiceRecord.Gamertag
							</h1>
							<h2>@Model.ServiceRecord.ServiceTag</h2>
						</div>
						<div class="visible-sm visible-xs col-md-1">
							<csr-asset skill-rank="@Model.ServiceRecord.TopSkillRank" gamertag="@Model.ServiceRecord.Gamertag" height="72" />
						</div>
					</div>

					<div class="row rank-flairs">
						<div class="col-md-10">
							<img class="hidden-xs" height="25" alt="" src="@await MetadataService.ResolveAssetContainerAsync(Model.ServiceRecord.RankImageUrl, "large")">

								@{ 
									var activeSpecialization = Model.ServiceRecord.Specializations.FirstOrDefault(s => s.IsCurrent) 
										?? Model.ServiceRecord.Specializations.First();
								}

								@if (Model.ServiceRecord.NextRankId == 0 || Math.Abs(activeSpecialization.PercentageComplete - 1.0) < 0.09)
								{
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="progress-bar-indicator">100% Complete</span>
											<span class="sr-only">100% Complete</span>
										</div>
									</div>

									<div class="XP">
										<div class="left lower-bound"><deliminate-number integer="@((int)Model.ServiceRecord.NextRankStartXp)" /> Xp</div>
										<div class="right upper-bound"></div>
										<div class="clearfix"></div>
									</div>
								}
								else
								{
									float a = (Model.ServiceRecord.Xp - Model.ServiceRecord.RankStartXp);
									float b = (Model.ServiceRecord.NextRankStartXp - Model.ServiceRecord.RankStartXp);
									var percentage = ((a / b) * 100);

									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%">
											<span class="progress-bar-indicator">@percentage.ToString("0.00")% (<deliminate-number integer="@Model.ServiceRecord.Xp" /> Xp)</span>
											<span class="sr-only">@percentage.ToString("0.00")% (<deliminate-number integer="@Model.ServiceRecord.Xp" /> Xp)</span>
										</div>
									</div>
									<div class="xp">
										<div class="left lower-bound"><deliminate-number integer="@Model.ServiceRecord.RankStartXp" /> Xp</div>
										<div class="right upper-bound"><deliminate-number integer="@((int)Model.ServiceRecord.NextRankStartXp)" /> Xp</div>
										<div class="clearfix"></div>
									</div>

								}
						</div>
					</div>

					@if (Model.GameHistory != null && Model.GameHistory.Games.Any())
					{
						var game = Model.GameHistory.Games.First() as WarGameHistory;
						var result = "Did Not Finish";
						var resultClass = "dnf";
						switch (game.Result)
						{
							case GameResult.Won:
								result = "Victory";
								resultClass = "victory";
								break;

							case GameResult.Lost:
								result = "Defeat";
								resultClass = "defeat";
								break;

							case GameResult.Draw:
								result = "Tie";
								resultClass = "dnf";
								break;
						}

						<div class="row recent-match">
							Recent Matches:
							<br />
							<span id="recent-match-details" class="details">
								<strong class="@resultClass">@result</strong> playing <strong>@game.ModeName</strong> on <strong>@game.MapVariantName</strong>,<br />
								with <strong>@game.FeaturedStatValue</strong> @game.FeaturedStatName <br />
								<a class="alt date" asp-action="Index" asp-controller="Match" asp-route-gamertag="@Model.ServiceRecord.Gamertag" asp-route-matchModeSlug="@game.Mode.GetDescription().ToSlug()" asp-route-matchId="@game.Id">
									&raquo; on @game.EndDateUtc.ToString("dddd, MMMM dd yyyy")
								</a>
							</span>
						</div>
					}
				</div>
				<div class="col-md-3">
					<div class="spartan-insignia hidden-sm hidden-xs" style="background-image: url(@await MetadataService.ResolveAssetContainerAsync(Model.ServiceRecord.EmblemImageUrl, "100")"></div>
					<div class="spartan-image hidden-sm hidden-xs" style="background-image: url('@MetadataService.ResolveSpartanImage(Model.ServiceRecord, "fullbody", "large")')"></div>
				</div>
			</div>
		</div>
	</div>
</header>
