@using System.Threading.Tasks
@using Branch.Web
@using Microsoft.Framework.OptionsModel
@inject IOptions<AppSettings> AppSettings
@{
	var renderTime = ViewData["_ElapsedTime"] ?? -1;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - @AppSettings.Value.SiteTitle</title>

	<link href="//fonts.googleapis.com/css?family=Exo:100" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

	<environment names="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
	</environment>
	<environment names="Staging,Production">
		<link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
			  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
	</environment>
	<link rel="stylesheet" href="~/css/Site.css" />
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<a href="/">
					<img class="nav-logo" alt="Logo" width="30" height="30" src="~/images/logo/logo-100x100.png">
				</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-controller="Home" asp-action="Index" class="navbar-brand">@AppSettings.Value.SiteTitle</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Stats <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Xbox Live</a>
								<a href="#">Halo 3</a>
								<a href="#">Halo: Reach</a>
								<a href="#">Halo 4</a>
								<a href="#">Halo 5</a>
							</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Api <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Xbox Live Docs</a>
							</li>
							<li>
								<a href="#">Halo 3 Docs</a>
							</li>
							<li>
								<a href="#">Halo: Reach Docs</a>
							</li>
							<li>
								<a href="#">Halo 4 Docs</a>
							</li>
							<li>
								<a href="#">Halo 5 Docs</a>
							</li>
							<li>
								<hr class="seperator" />
							</li>
							<li>
								<a href="#">Stuff</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>
					<li>
						<a href="#">About</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	@RenderBody()

	<footer class="bs-footer" role="contentinfo" style="">
		<div class="mask">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<p>Developed by <a class="alt" href="http://twitter.com/0xdeafcafe" target="_blank">&#64;0xdeafcafe</a></p>
						<p>Developed in C# | Running on Windows Azure</p>
						<ul class="footer-links">
							<li><a class="alt" href="https://github.com/TheTree/Branch" target="_blank">Github</a></li>
							<li>·</li>
							<li><a class="alt" href="http://xboxchaos.com/" target="_blank">Xbox Chaos</a></li>
							<li>·</li>
							<li><a class="alt" href="http://halo.reddit.com/" target="_blank">r/halo</a></li>
							<li>·</li>
							<li><a class="alt" href="http://unscwarfare.com/" target="_blank">UNSC Warfare</a></li>
							<li>·</li>
							<li>
								<a class="alt" href="#">
									Blog
								</a>
							</li>
						</ul>
						<ul class="footer-links hidden">
							<li>
								<a class="alt" href="#">
									Privacy Policy
								</a>
							</li>
							<li>·</li>
							<li>
								<a class="alt" href="#">
									Terms
								</a>
							</li>
						</ul>
						<p>Code licensed under the <a class="alt" href="http://www.dbad-license.org/" target="_blank">Don't Be A Dick</a> Public License.</p>
						<p>&copy; 2013-@DateTime.Now.Year - @AppSettings.Value.SiteTitle</p>
						<p>Page Rendered in @renderTime Milliseconds</p>
					</div>

					<div class="col-md-2 hidden-xs hidden-sm">
						<img src="~/images/uk-map.png" class="img-circle" alt="" style="width: 60px; height: 77px;" />
					</div>
				</div>
			</div>
		</div>
	</footer>


	<environment names="Development">
		<script src="~/lib/jquery/jquery.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.js"></script>
	</environment>
	<environment names="Staging,Production">
		<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-1.10.2.min.js"
				asp-fallback-src="~/lib/jquery/jquery.min.js"
				asp-fallback-test="window.jQuery">
		</script>
		<script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.0.0/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery">
		</script>
	</environment>
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.3.0/masonry.pkgd.min.js"></script>
	<script>
		$(window).scroll(function () {
			var scroll = $(window).scrollTop();

			if (scroll >= 60) {
				$("nav").addClass("navbar-lowered");
			} else {
				$("nav").removeClass("navbar-lowered");
			}
		});
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
