@using Branch.Web.Areas.XboxLive.ViewModels
@model SidebarViewModel
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<div class="sidebar">
	<ul class="nav sidenav">
		<li class="active">
			<a href="#">
				<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
			</a>

			<ul class="nav">
				<li class="@(Model.SidebarOption.Equals(SidebarOption.Showcase) ? "active" : "")">
					<a asp-controller="Showcase" asp-action="Index" asp-route-gamertag="@Model.Gamertag">Showcase</a>
				</li>

				<li class="@(Model.SidebarOption.Equals(SidebarOption.Activity) ? "active" : "")">
					<a asp-controller="Activity" asp-action="Index" asp-route-gamertag="@Model.Gamertag">Activity</a>
				</li>

				<li class="@(Model.SidebarOption.Equals(SidebarOption.Achievements) ? "active" : "")">
					<a asp-controller="Achievements" asp-action="Index" asp-route-gamertag="@Model.Gamertag">Achievements</a>
				</li>

				<li class="@(Model.SidebarOption.Equals(SidebarOption.Following) ? "active" : "")">
					<a asp-controller="Following" asp-action="Index" asp-route-gamertag="@Model.Gamertag">Following</a>
				</li>

				<li class="@(Model.SidebarOption.Equals(SidebarOption.GameClips) ? "active" : "")">
					<a asp-controller="GameClips" asp-action="Index" asp-route-gamertag="@Model.Gamertag">Game Clips</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
