@using Microsoft.Xbox.Core.DataContracts
@using Microsoft.Xbox.Core.DataContracts.Abstracts
@using Branch.Helpers.Extentions
@model Tuple<LegacyUserTitle, string, string>
@{
	var userTitle = Model.Item1;
	var primaryRgb = Model.Item2;
	var secondaryRgb = Model.Item3;
}

<div class="col-md-12 row" style="margin-bottom: 20px;">
	<div class="col-md-4">
		<img style="width: 100%;" src="http://tiles.xbox.com/consoleAssets/@userTitle.TitleId.ToString("X")/en-gb/largeboxart.jpg" />
	</div>
	<div class="col-md-8" style="display: inline-block; height: 100%; box-sizing: border-box; position: absolute;">
		<h3>@userTitle.Name</h3>
		<h5>@userTitle.CurrentGamerscore <img class="gamerscore-icon" height="18" src="/images/Areas/XboxLive/Views/icons/gamerscore-dark.png" /></h5>
		<h5>Last Played on @userTitle.LastPlayed.ToString("F")</h5>

		@{
			double percentage = 0;
			if (userTitle.TotalGamerscore > 0)
			{
				percentage = Math.Round((double)((double)userTitle.CurrentGamerscore / (double)userTitle.TotalGamerscore) * 100, 2);
			}
		}
		@if (userTitle.TotalGamerscore > 0)
		{
			<div class="progress" style="background-color: @secondaryRgb.ToCssRgb(); bottom: 10px; left: 14px; right: 0; position: absolute;">
				<div class="progress-bar" role="progressbar"
					 aria-valuenow="@userTitle.CurrentGamerscore" aria-valuemin="0" aria-valuemax="@userTitle.TotalGamerscore"
					 style="width: @percentage%; background-color: @primaryRgb.ToCssRgb();">
					@percentage% complete
				</div>
			</div>
		}
	</div>
</div>
